bin/
obj/
*.user
*.suo
$tf/properties.tf1
$tf/localversion.tf1
$tf/localversion.tfb
$tf/pendingchanges.tf1
$tf/pendingchanges.tfb
/MoPlus.Setup/Release/setup.exe
/MoPlus.Setup/Release/MoPlus.Setup.msi
/MoPlus.Setup/Output/MoPlusSetupWinAppOnly.exe
/MoPlus.Setup/Output/MoPlusSetupWinAppVS2010.exe
/MoPlus.Setup/Output/MoPlusSetupWinAppVS2012.exe
/MoPlus.suo
