bin/
Bin/
obj/
*.user
*.suo
*.zip
$tf/properties.tf1
$tf/localversion.tf1
$tf/localversion.tfb
$tf/pendingchanges.tf1
$tf/pendingchanges.tfb
/MoPlus.Setup/Release/setup.exe
/MoPlus.Setup/Release/MoPlus.Setup.msi
/MoPlus.Setup/Output/MoPlusSetupWinAppOnly.exe
/MoPlus.Setup/Output/MoPlusSetupWinAppVS2010.exe
/MoPlus.Setup/Output/MoPlusSetupWinAppVS2012.exe
/MoPlus.Setup/Debug/setup.exe
/MoPlus.Setup/Debug/MoPlus.Setup.msi
/MoPlus.suo
TestResults/
x86/
obj/Debug/
/Backup
/.vs/MoPlus/v15/Server/sqlite3
/.vs/MoPlus/v16/Server/sqlite3
/packages/System.Windows.Interactivity.WPF.2.0.20525
/UpgradeLog.htm
